@keyframes move-background {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -moz-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -moz-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 500px 500px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 50s linear infinite;
  -ms-animation: move-background 50s linear infinite;
  -o-animation: move-background 50s linear infinite;
  -webkit-animation: move-background 50s linear infinite;
  animation: move-background 50s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.25;
  -moz-animation: move-background 100s linear infinite;
  -ms-animation: move-background 100s linear infinite;
  -o-animation: move-background 100s linear infinite;
  -webkit-animation: move-background 100s linear infinite;
  animation: move-background 100s linear infinite;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  align-items: center;
  font-size: 16px;
}

#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.footer {
  font-size: 0.5rem;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  z-index: 10;
}

.header {
  width: 100vw;
  position: relative;
  z-index: 10;
}

.header-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}

#header-left {
  position: fixed;
  width: 9.5vw;
  max-width: 20px;
  bottom: 40%;
  left: 1%;
  animation: blurAnimation 2s infinite;
}

#header-right {
  position: fixed;
  width: 10vw;
  max-width: 20px;
  bottom: 40%;
  right: 1%;
  animation: blurAnimation 2s infinite;
}

#header-left:hover {
  animation: blurAnimation 2s infinite, scaleAnimation 0.25s infinite;
}

#header-right:hover {
  animation: blurAnimation 2s infinite, scaleAnimation 0.25s infinite;
}

@keyframes blurAnimation {
  0% {
    filter: blur(0px);
    text-shadow: 0 0 5px white;
  }
  25% {
    filter: blur(4px);
    text-shadow: 0 0 1px black;
  }
  50% {
    filter: blur(0px);
    text-shadow: 0 0 5px white;
  }
  75% {
    filter: blur(0px);
    text-shadow: 0 0 5px white;
  }
}

@keyframes shakeAnimation {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(-1px, -1px);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.95);
  }
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link-div {
  text-align: center;
  margin-top: 30px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 0.95rem;
}

.link-div a:hover {
  filter: blur(0px);
  font-size: 1rem;
}

.link-url {
  filter: blur(1px);
}

.link-url-active {
  filter: blur(0px);
  font-size: 1rem;
}

.content-container {
  margin-top: 30px;
  width: 80vw;
  align-items: center;
  text-align: center;
}

.about-container {
  margin-top: 30px;
  font-size: 0.9375rem;
  line-height: 1.65rem;
  max-width: 80vw;
  width: 500px;
  align-items: center;
  text-align: center;
}

#blog-container {
  margin-top: 30px;
  font-size: 0.9375rem;
  line-height: 1.65rem;
  align-items: center;
  max-width: 80vw;
  width: 500px;
}

.blog-title {
  filter: blur(1px);
  margin-bottom: 30px;
}

.blog-title:hover {
  filter: blur(0px);}

.blog-content {
  margin-top: 10px;
}

.divider {
  border: 1px solid #636363;
  margin-top: 30px;
  margin-bottom: 30px;
}

.topic-btn {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  filter: blur(1px);
}

.topic-btn:hover {
  filter: blur(0px);
  font-size: 1rem;
}

.topic-btn-active {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.topics-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  max-width: 500px;
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
}

#project-tbd {
  align-items: center;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 45%;
  animation: blurAnimation 2s infinite;
}

#project-tbd:hover {
    animation: blurAnimation 2s infinite, scaleAnimation 1s infinite;
}