body {
  background-color: black;
  background-image: url("/assets/bg/bg.webp");
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Helvetica", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.footer {
  font-size: 0.5rem;
  position: fixed;
  bottom: 5px;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 5em;
  margin-top: 20px;
  animation: blurAnimation 1s infinite, shake 0.1s infinite;
}

.header:hover {
  animation-play-state: paused;
}

@keyframes blurAnimation {
  0% {
    filter: blur(0px);
    text-shadow: 0 0 10px white;
  }
  50% {
    filter: blur(3px);
    text-shadow: 0 0 0px white;

  }
  100% {
    filter: blur(0px);
    text-shadow: 0 0 10px white;
  }
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 1px); }
  75% { transform: translate(1px, 1px); }
  100% { transform: translate(-1px, -1px); }
}

.link-list {
  text-align: center;
  margin-top: 30px;
  word-spacing: 15px;
  width: 80vw;
  font-size: 1em;
}

.link-nav {
    filter: blur(1px);
}

.link-list a:hover {
  filter: blur(0px);
}

.link-nav-active {
  filter: blur(0px);
}

.content-container {
  margin-top: 30px;
  font-size: 0.8em;
  width: 80vw;
  align-items: center;
  text-align: center;;
}

.ascii-container {
  margin-top: 30px;
  align-items: center;
  text-align: center;;
}

.title {
  margin-top: 30px;
}

#output {
  font-size: 0.4rem;
  align-items: center;
  background:transparent;
  overflow: hidden;
}